# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
*.DS_Store

# Virtual environment
venv/
ENV/
env/
.venv/

# Django
db.sqlite3
*.sqlite3
/media/
staticfiles/
*.log

# Migrations
*/migrations/*.py
*/migrations/*.pyc

# Django REST Framework
/api/schema.yml
/api/schema.json

# IDEs
.vscode/
.idea/
*.iml

# Docker
docker-compose.override.yml
*.dockerfile

# Coverage and testing
.coverage
htmlcov/
*.cover
*.pytest_cache/
nosetests.xml
coverage.xml
*.cover
test-results/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Secrets and configs
*.key
*.pem



media